/**
* template:  FITPULSE

TABLE OF CONTENTS

        + Global
        + Header
        + Header Content
        + About Us
        + Services
        + Why We
        + Pricing
        + Testimonials
        + FAQ
        + Booking
        + Contacts


*/

@import 'reset.css';
@import 'all.min.css';
@import 'magnific-popup.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap');


/**************************************
*
*         GLOBAL   
*
***************************************/


:root {
	--color-white: #ffffff;
	--color-red: #ec3642;
	--color-dark:  #1b1b1b;
	--color-light-dark: #242424;
	--color-black: #000000;
}

::-moz-selection {
	background-color: var(--color-red);
	color: var(--color-white);
}

::selection {
	background-color: var(--color-red);
	color: var(--color-white);
}

@-webkit-keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#preload {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20000;
	background-color: var(--color-dark);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#preload img {
	display: block;
	width: 44px;
	height: auto;
	-webkit-animation-name: load;
	animation-name: load;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

img {
	outline: none;
	height: auto;
}

a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: var(--color-dark);
	line-height: 1.4;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 30px;
	color: var(--color-black);
	text-transform: uppercase;
}

h1 {
	font-size: 80px;
	color: var(--color-white);
}

h2 {
	font-size: 50px;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.btn {
	background-color: var(--color-red);
	padding: 13px 28px;
	color: var(--color-white);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	border: 1px solid transparent;
}

.popup-youtube,
.popup-vimeo,
.popup-gmaps {
	color: var(--color-red);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	font-size: 60px;
}

.popup-youtube:hover,
.popup-vimeo:hover,
.popup-gmaps:hover {
	color: var(--color-dark);
}

.btn:hover {
	background-color: var(--color-dark);
	border: 1px solid var(--color-red);
}

.btn i {
	margin-left: 10px;
}

.ptb {
	padding-top: 100px;
	padding-bottom: 100px;
}

.social-link li {
	margin-right: 20px;
}

.social-link li a {
	font-size: 18px;
	color: var(--color-white);
}

.social-link li a:hover {
	color: var(--color-red);
}

.suptitle {
	display: inline-block;
	color: var(--color-dark-blue);
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
}

#scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	padding: 15px 20px;
}

#scroll-top i {
	margin-left: 0px;
}

.bgcolor {
	background-color: var(--color-dark);
}

#openmenu,
#closemenu {
	display: none;
	padding: 15px 20px;
}

#closemenu {
	float: right;
}

#openmenu i,
#closemenu i {
	margin-left: 0px;
	font-size: 20px;
}

.res-booking {
	display: none;
	font-size: 14px;
	margin-top: 20px;
}

.res-booking .error {
	color: var(--color-red);
}

.res-booking .send {
	color: var(--color-white);
	font-weight: 700;
}


/**************************************
*
*         HEADER   
*
***************************************/


.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.wrapper-header {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper-menu-link {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu {
	padding-top: 10px;
}

.menu li {
	float: left;
	margin-right: 30px;
}

.menu li a {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: var(--color-white);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.menu li a:after {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	margin-top: 5px;
	background-color: var(--color-white);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.menu li a:hover::after {
	width: 100%;
}


/**************************************
*
*         HEADER CONTENT   
*
***************************************/


.wrapper-header-content {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0))), url('../images/header-img.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../images/header-img.jpg');
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../images/header-img.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	min-height: 800px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/**************************************
*
*         ABOUT US   
*
***************************************/


#aboutus {
	position: relative;
	background-color: var(--color-dark);
}

.wrapper-edge {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: var(--color-light-dark);
	-webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
}

.single-edge {
	width: 25%;
	padding: 40px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.single-edge>div {
	border-right: 1px solid rgba(121, 121, 121, 0.2);
}

.single-edge:last-child>div {
	border: none;
}

.single-edge span {
	display: block;
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: var(--color-red);

}

.single-edge p {
	color: var(--color-white);
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}

.wrapper-aboutus {
	padding-top: 100px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about-img {
	width: 50%;
	position: relative;
}

.about-img img {
	width: 100%;
	display: block;
}

.about-img a {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.about-content {
	width: 50%;
	padding: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: var(--color-light-dark);
	-webkit-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	transform: translateX(-20%);
	-webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	color: var(--color-white);
}

.about-content p {
	margin-bottom: 20px;
}

.about-content h2 {
	color: var(--color-white);
}

.wrapper-signature {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 50px;
}

.wrapper-signature img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	margin-right: 20px;
}

.signature h3 {
	margin-bottom: 0px;
	font-size: 20px;
	color: var(--color-white);
	margin-bottom: 10px;
}

.signature p {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: var(--color-red);
	margin-bottom: 0px;
}


/**************************************
*
*         SERVICES  
*
***************************************/


#services {
	background-color: var(--color-dark);
}

.wrapper-services {
	justify-items: space-between;
}

.services-content {
	width: calc(30% - 50px);
	background-color: var(--color-light-dark);
	padding: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 50px;
	color: var(--color-white);
}

.services-content p {
	margin-bottom: 20px;
}

.services-content h2 {
	color: var(--color-white);
}

.services-list {
	width: 70%;
}

.services-list {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.services-item {
	width: calc(33.333333% - 20px);
	margin: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 20px;
	text-align: center;
	background-color: var(--color-light-dark);
	color: var(--color-white);
}

.services-item img {
	max-width: 60px;
	margin-bottom: 20px;
}

.services-item h3 {
	color: var(--color-white);
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}


/**************************************
*
*         WHY WE  
*
***************************************/


#whywe {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../images/bg-blocks.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg-blocks.jpg');
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg-blocks.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	background-attachment: fixed;
}

.wrapper-whywe {
	text-align: center;
	max-width: 1000px;
}

.wrapper-whywe.ptb {
	padding-top: 150px;
	padding-bottom: 150px;
}

.wrapper-whywe .suptitle,
.wrapper-whywe h2,
.wrapper-whywe p {
	color: var(--color-white);
}

.wrapper-whywe p {
	margin-bottom: 20px;
	font-size: 20px;
}

.wrapper-whywe .suptitle:before {
	background-color: var(--color-white);
}

.wrapper-whywe .btn {
	margin-top: 10px;
}


/**************************************
*
*         PRICING 
*
***************************************/


#pricing {
	background-color: var(--color-dark);
}

#pricing h2,
#pricing .suptitle {
	color: var(--color-white);
}

.wrapper-single-pricing {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.item {
	overflow: hidden;
}

.item:hover .wrapper-single-pricing {
	background-color: rgba(0, 0, 0, 0.3);
}

.item>img {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.item:hover img {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.pricing-single-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transform: translateY(calc(100% - 140px));
	-ms-transform: translateY(calc(100% - 140px));
	transform: translateY(calc(100% - 140px));
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	background-color: var(--color-light-dark);
	height: 100%;
}

.item:hover .pricing-single-content {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.pricing-single-content h3 {
	margin-bottom: 10px;
	font-size: 20px;
	display: inline-block;
	color: var(--color-white);
}

.pricing-single-content .pricing {
	color: var(--color-red);
	display: inline-block;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.schedule-content {
	color: var(--color-white);
}

.schedule-content img {
	max-height: 200px;
	max-width:  200px;
	margin-top: 30px;
}

.list-time {
   margin-top: 30px;
}

.list-time li {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(121, 121, 121, 0.2);
    margin-bottom: 20px;
    color: var(--color-white);
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: var(--color-red);
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: var(--color-black);
	display: block;
	-webkit-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	transition: opacity .2s ease;
	border-radius: 30px;
}


/**************************************
*
*         TESTIMONIALS
*
***************************************/


#testimonials {
	background-color: var(--color-dark);
}

.wrapper-title-testimonials {
	text-align: center;
}

.wrapper-testimonials {
	max-width: 1000px;
	text-align: center;
}

.single-testimonials img {
	width: 80px !important;
	height: 80px !important;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 30px;
}

.single-testimonials p {
	font-size: 20px;
	margin-bottom: 20px;
}

.wrapper-author h3 {
	margin-bottom: 10px;
}

.wrapper-author h3,  
.single-testimonials p,
#testimonials h2, 
#testimonials .suptitle {
	color: var(--color-white);
}

.wrapper-author p {
	color: var(--color-red);
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}


/**************************************
*
*         FAQ
*
***************************************/


#faq {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../images/bg-blocks-2.jpg');
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg-blocks-2.jpg');
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg-blocks-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.wrapper-faq {
	padding-top: 150px;
	padding-bottom: 150px;
}

.wrapper-faq .suptitle,
.wrapper-faq h2 {
	color: var(--color-white);
}

.wrapper-faq .suptitle:before {
	background-color: var(--color-white);
}

.content-accordion {
	display: none;
}

.content-accordion {
	color: var(--color-white);
}

.wrapper-faq h3 {
	font-size: 20px;
	padding: 15px;
	border-left: 5px solid var(--color-red);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	margin-bottom: 0px;
	color: var(--color-white);
}

.wrapper-faq .content-accordion {
	padding: 40px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 5px solid var(--color-white);
	box-sizing: border-box;
}

.wrapper-accordion h3 i {
	margin-right: 10px;
	font-size: 16px;
}


/**************************************
*
*         BOOKING 
*
***************************************/


#booking {
	background-color: var(--color-dark);
}

.wrapper-booking {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bookong-form {
	width: 60%;
	padding-right: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.booking-working-hours {
	width: 40%;
	background-color: var(--color-light-dark);
	-webkit-box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	box-shadow: 0px 15px 40px -5px rgb(0 0 0 / 10%);
	padding: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--color-white);
}

.booking-working-hours h3 {
	font-size: 25px;
	color: var(--color-white);
}

.wrapper-hours {
	margin-top: 30px;
}

.table-hours {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid rgba(121, 121, 121, 0.2);
	margin-bottom: 20px;
	color: var(--color-white);
}

.wrapper-input {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.wrapper-input input {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 20px 20px 0px;
	border: none;
	outline: none;
	background-color: var(--color-dark);
	width: calc(50% - 20px);
	margin-bottom: 40px;
	color: var(--color-white);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	border-bottom: 1px solid rgba(121, 121, 121, 0.2);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.wrapper-input input::-webkit-input-placeholder {
	color: var(--color-white);
}

.wrapper-input input::-moz-placeholder {
	color: var(--color-white);
}

.wrapper-input input:-ms-input-placeholder {
	color: var(--color-white);
}

.wrapper-input input::-ms-input-placeholder {
	color: var(--color-white);
}

.wrapper-input input::placeholder {
	color: var(--color-white);
}

.wrapper-input input:focus {
	border-bottom: 1px solid var(--color-white);
}

.bookong-form button {
	border: none;
	outline: none;
	cursor: pointer;
	border: 1px solid transparent;
}

#booking h2, 
#booking .suptitle {
	color: var(--color-white);
}


/**************************************
*
*         CONTACTS
*
***************************************/


#contacts {
	background-color: var(--color-dark);
}

#contacts .suptitle,
#contacts h2 {
	color: var(--color-white);
}

#contacts .suptitle:before {
	background-color: var(--color-white);
}

.wrapper-contact {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.wrapper-contact>div {
	width: 25%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--color-white);
}

.wrapper-contact>div p {
	margin-bottom: 10px;
}

.wrapper-contact>div a {
	color: var(--color-white);
}

.wrapper-contact>div a:hover {
	color: var(--color-red);
}

.wrapper-contact>div h3 {
	color: var(--color-white);
	font-size: 20px;
}

.wrapper-map iframe {
	width: 100%;
	height: 400px;
	display: block;
}

.copyright {
	background-color: var(--color-black);
	padding: 50px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	color: var(--color-white);
}